.inputStyle{
    padding: 9px;
    border-radius: 5px;
    border: 1px solid grey;
}

.enviarStyle{
    background-color: #6EC1E4;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}